.App {
    text-align: center;
    color: #8d99ae;
    background-color: #edf2f4;
}

.PrivacyPolicy {
    text-align: left;
}

.App h3.ui.header {
    color: #2b2d42;
}

.contactLink {
    font-size: 1.33em;
}
